<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FlightsDataBaseConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\FlightsDataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <FlightsService.Properties.Settings>
            <setting name="FlightsService_PaymentSerivce_PaymentServiceService"
                serializeAs="String">
                <value>http://188.93.21.52:8380/DKPS/payment</value>
            </setting>
            <setting name="FlightsService_WebReference_AccountServiceService"
                serializeAs="String">
                <value>http://188.93.21.52:8380/DKPS/account</value>
            </setting>
        </FlightsService.Properties.Settings>
    </applicationSettings>
</configuration>
